.idea
/Bundles
Library
obj
*.csproj
Sandbox
Temp
Assets/Bundles/Code
.cache.meta
Packages/packages-lock.json
Unity.sln.DotSettings.user
Unity.sln
Builds
Logs
Android_Symbols
Assets/StreamingAssets/build_info
Assets/StreamingAssets/build_info.meta
HybridCLRData/
.DS_Store
Assets/Bundles/AOTCode/*
