Unity/.idea
Unity/Bundles
Unity/Library
Unity/obj
Unity/*.csproj
Unity/Sandbox
Unity/Temp
Unity/Assets/Bundles/Code
Unity/HybridCLRData/HotUpdateDlls
Unity/HybridCLRData/LocalIl2CppData-WindowsEditor
Unity/HybridCLRData/hybridclr_repo
Unity/HybridCLRData/il2cpp_plus_repo
Unity/.cache.meta
Unity/Packages/packages-lock.json
Unity/Unity.sln.DotSettings.user
Unity/Unity.sln
Unity/HybridCLRData
Unity/Builds
Unity/Logs
Unity/Android_Symbols
Unity/Assets/StreamingAssets/build_info
Unity/Assets/StreamingAssets/build_info.meta
